{% extends 'base.html.twig' %}

{% block title %} CheckOut Ecommerce!{% endblock %}

{% block scriptStripe %}
    <script src="https://js.stripe.com/v3/" ></script>
{% endblock scriptStripe %}
    
{% block body %}
 {{
    include(
      'partials/title_section.html.twig',
      {
        name: 'CheckOut Ecommerce'
      }
    )
  }}
<div class="section">
	<div class="container">
       
        <div class="row">
        	<div class="col-md-6">
                <div class="heading_s1">
                        <h4>Please verify Your delivery Address</h4>
                        <div class="content" id="address">
                            {{ address | replace({'[spr]' : '<br>'}) | raw}}
                              <a class="btn btn-border-fill mt-2"
                            href="{{ path('app_adress_edit', {'id':address.id}) }}">
                           Edit adress
                            </a>

                             <a class="btn btn-border-fill mt-2"
                            href="{{ path('checkout_edit') }}">
                          change address
                            </a>
                        </div>
                </div>

                <div class="heading_s1" >
                    <h4>Please verify Your carrier</h4>
                    <div class="content" id="carrier">
                         {{ carrier | replace({'[spr]' : '<br>'}) | raw}}
                           <a class="btn btn-border-fill mt-2"
                            href="{{ path('checkout_edit') }}">
                          change Carrier
                            </a>

                    </div>
                </div>
                {% if informations  %}
                         <div class="heading_s1">
                    <h4>Please verify Additional information</h4>
                    <div class="form-group mb-0" id="informations">
                      {{ informations | replace({'[spr]' : '<br>'}) | raw}}</h4>
                    </div>
                </div>
                {% endif %}
           
          </div>

          <div class="col-md-6">
                <div class="order_review">
                    <div class="heading_s1">
                        <h4>Your Orders</h4>
                    </div>
                    <div class="table-responsive order_table">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Product</th>
                                    <th>Total</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for element in cart.products %}
                                    <tr>
                                        <td> {{element.product.name}} <span class="product-qty">x {{element.quantity}} </span></td>
                                        <td>$ {{element.product.price/100}} </td>
                                    </tr>
                            {% endfor %}
                                
                          
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th>SubTotal HT</th>
                                    <td class="product-subtotal">{{ cart.data.subTotalHT}}</td>
                                </tr>
                                <tr>
                                    <th>Taxe</th>
                                    <td class="product-subtotal">${{ cart.data.Taxe}}</td>
                                </tr>

                                 <tr>
                                    <th>Shipping {{ carrier.name}}</th>
                                    <td class="product-subtotal">${{ carrier.price/100}}</td>
                                </tr>

                                <tr>
                                    <th>Total</th>
                                    <td class="product-subtotal">${{ cart.data.subTotalTTC + carrier.price/100}}</td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                    <div class="payment_method">
                        <div class="heading_s1">
                            <h4>Payment</h4>
                        </div>
                        <form action="/create-checkout-session/{{ reference }}" method="POST">
   <button type="submit" id="checkout-button" class="btn btn-fill-out btn-block">Paid | ${{ cart.data.subTotalTTC + carrier.price/100}}</button>
    </form>
                    </div>
                 
                </div>
          </div>
        </div>

    </div>
</div>


{% endblock %}

{% block javascripts %}
{# <script type="text/javascript">
    var stripe = Stripe("sk_test_51MdZibGaPkli494EGcx7ZxIDOS8nhNXcdg6LpW7lZW2JD5T7A6j0QB59pFuBNzbU4r4limwc7pOwkUY9ThDvUCCk00LFaSG55N");
    var checkoutButton = document.getElementById("checkout-button");

    checkoutButton.addEventListener("click", function(){
        fetch("/create-checkout-session",{
            method:"POST"
        })
        .then(function(response){
            return response.json();
        })
        .then(function(session){
            return stripe.redirecToCheckout({sessionId:session.id});
        })
        .then(function(result){
            if(result.error){
                alert(result.error.message);
            }
        }).catch(function(error){
            console.error("Error:" , error);
        });
    });
</script>
     #}
{% endblock javascripts %}